
.big-spot1 {
    position: absolute;
    width: 747.47px;
    height: 902.79px;
    left: 773.94px;
    top: 9079px;
    background: #9747FF;
    filter: blur(46.5px);
    transform: rotate(-89.02deg);
}

.big-spot2 {
    position: absolute;
    width: 653.94px;
    height: 747.9px;
    left: 80px;
    top: 8332px;
    background: #9747FF;
    filter: blur(46.5px);
}

.sharp-spot {
    position: absolute;
    width: 711.62px;
    height: 789.46px;
    left: 1336px;
    top: 7609px;
    background: #70E61C;
    filter: blur(46.5px);

}

.big-spot3 {
    position: absolute;
    width: 681.44px;
    height: 1127px;
    left: 80px;
    top: 19752.85px;
    background: #9747FF;
    filter: blur(46.5px);

}

.u-spot {
    position: absolute;
    height: 549.73px;
    left: 23.87%;
    right: 60.16%;
    top: 7609px;
    background: #9747FF;
    filter: blur(46.5px);

}

.small-spot {
    position: absolute;
    height: 608.26px;
    left: 25.52%;
    right: 57.47%;
    top: 19100px;
    background: #1CDAE6;
    filter: blur(46.5px);
    transform: rotate(14.71deg);

}

app-project-card {
    border-style: solid;
    border-color: greenyellow;
    border-width: medium;
}

