<div class="project-card" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="image-container">
        <img [src]="isHovered ? project.detailedImage : project.image" [alt]="project.title" [ngClass]="{ 'blurred': isHovered }" />
    </div>

    <div class="overlay" [@overlaySlide]="isHovered ? 'visible' : 'hidden'">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <span class="tech">
        <ng-container *ngFor="let t of project.tech; let last = last">
            {{ t }}<span *ngIf="!last"> | </span>
        </ng-container>
        </span>
    </div>

    <div class="buttons" *ngIf="isHovered" [@buttonsSlide]>
        <a [href]="project.liveLink" class="filled" target="_blank">Live Demo</a>
        <a [href]="project.githubLink" class="outlined" target="_blank">Code</a>
    </div>
</div>