<div class="mini-contact-container">
    <div class="left-line indigo" id="mini-contact-line"></div>
    <div class="small-icons">
        <a href="#" href="https://github.com/afk-Jane" target="_blank" rel="noopener noreferrer">
            <img src="/icons/contact/git-icon.png" alt="git-icon">
        </a>
        <a href="#" href="" target="_blank" rel="noopener noreferrer">
            <img src="/icons/contact/email-icon.png" alt="email-icon">
        </a>
        <a href="#" href="https://www.linkedin.com/in/jenny-jane-domsgen-834a92369/" target="_blank" rel="noopener noreferrer">
            <img src="/icons/contact/linkedin-icon.png" alt="linkedin-icon">
        </a>
    </div>
</div>
